@charset "UTF-8";
:root {
  --side-space: 1.25rem;
  --space-between-blocks: 1.5rem;
  --space-between-items: 1rem;
  --bottom-space: 5.3125rem;
}

@media screen and (min-width: 992px) {
  :root {
    --side-space: 3.375rem;
    --space-between-blocks: 2.5rem;
    --space-between-items: 1.5rem;
    --bottom-space: 2.5rem;
  }
}
* {
  font-family: "Work Sans", sans-serif;
  letter-spacing: -0.02em;
  line-height: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
figure {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__logo-wrapper-link {
  position: absolute;
  top: 0.5rem;
  left: var(--side-space);
}
.header__logo {
  width: 5.75rem;
  filter: drop-shadow(0rem 0.0625rem 0.5rem rgba(0, 0, 0, 0.25));
  transition: width ease-in-out 0.6s;
}
.header__logo--scrolling-down {
  width: 3.625rem;
}
.header__top {
  padding: 0.5rem 0;
  background-color: #318b7c;
}
.header__text {
  grid-column-start: 2;
  color: #ffffff;
  font-size: 0.6875rem;
  font-weight: 600;
  text-align: center;
}
.header__extra-text, .header__contact {
  display: none;
}
.header__nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0rem 0.0625rem 0.5rem rgba(0, 0, 0, 0.25);
}
.header__nav-list {
  display: flex;
  width: max-content;
  margin-left: auto;
  margin-right: var(--side-space);
  padding: 1rem 0;
  list-style: none;
}
.header__nav-item:not(:last-child) .header__nav-link {
  padding-right: 0.5rem;
}
.header__nav-link {
  font-size: 0.8125rem;
  color: #303030;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .header__nav-link {
    font-size: 1.125rem;
  }
}
.header__nav-link--active {
  font-weight: 600;
}
.header__nav-link:hover {
  color: #303030;
  text-decoration: none;
}
.header__underline {
  position: absolute;
  height: 0.1875rem;
  background-color: #d49b16;
  transition: all 0.3s linear;
}

.banner__img-wrapper {
  position: relative;
  width: 100%;
}
.banner__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.banner__img-border {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.125rem;
  width: 100%;
  color: #318b7c;
}
.banner__img-border--mobile {
  display: block;
}
.banner__img-border--desktop {
  display: none;
}
.banner__content {
  position: relative;
  background-color: #318b7c;
}
.banner__title {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
}
.banner__text {
  font-size: 0.8125rem;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .banner__text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .banner__text {
    font-size: 1.125rem;
  }
}
.banner__link {
  font-size: 0.8125rem;
  font-weight: 600;
  display: table;
  position: absolute;
  right: var(--side-space);
  bottom: 2.1875rem;
  padding: 0.5rem;
  background-color: #d49b16;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0.75rem;
  box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: box-shadow ease-in-out 0.15s;
}
@media screen and (min-width: 768px) {
  .banner__link {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .banner__link {
    font-size: 1.125rem;
  }
}
.banner__link:hover {
  color: #ffffff;
  box-shadow: 0.25rem 0.375rem 1rem rgba(0, 0, 0, 0.2);
}

.custom-indicators {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  right: 0;
  bottom: 0.875rem;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: 0;
  list-style: none;
}
.custom-indicators__indicator {
  padding: 0.3125rem;
  border: 0.1875rem solid #ffffff !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-color: transparent !important;
  box-sizing: border-box !important;
  border-radius: 50%;
  opacity: 1 !important;
}
.custom-indicators__indicator.active {
  border-color: #d49b16 !important;
}

.more-info__text {
  font-size: 0.8125rem;
  color: #303030;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .more-info__text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .more-info__text {
    font-size: 1.125rem;
  }
}
.more-info__link {
  color: #d49b16;
  font-weight: 700;
}
.more-info__link:hover {
  color: #d49b16;
}

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 3.125rem;
  padding: 1rem var(--side-space) 1rem var(--side-space);
  background-color: #318b7c;
  transform: translateY(150%);
  box-shadow: 0.125rem -0.1875rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: transform ease-in-out 0.6s;
}
.footer__social-media {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
.footer__social-media-icon {
  color: #ffffff;
  height: 1.4375rem;
}
.footer__dividing-line {
  margin: 0 1rem;
  width: 0.0625rem;
  height: 1.4375rem;
  background-color: #ffffff;
}
.footer__text {
  color: #ffffff;
  font-weight: 600;
  font-size: min(0.8125rem, 3vw);
  letter-spacing: -0.08em;
}
.footer__whatsapp-link {
  background: #d49b16;
  padding: 0.8125rem;
  border-radius: 50%;
  margin: -1.3125rem 0 0.5rem auto;
  pointer-events: all;
}
.footer__whatsapp-icon {
  width: 2.25rem;
}
.footer--scrolling-down {
  transform: none;
}
.footer--scrolling-down .footer__whatsapp-link {
  filter: drop-shadow(0.125rem -0.1875rem 0.5rem rgba(0, 0, 0, 0.25));
}

.lds-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  color: #d49b16;
  transform: translate(-50%, -50%);
}
.lds-ellipsis__wrapper {
  position: relative;
  width: 4.375em;
  height: 0.8125em;
}
.lds-ellipsis__circle {
  position: absolute;
  padding: 0.4063em;
  border-radius: 50%;
  background-color: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis__circle--1 {
  left: 0.5em;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis__circle--2 {
  left: 0.5em;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis__circle--3 {
  left: 2em;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis__circle--4 {
  left: 3.5em;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1.5em, 0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@media screen and (min-width: 576px) {
  .header__nav-list {
    margin-right: clamp(3rem, 8vw, 4.5rem);
  }
  .header__nav-item:not(:last-child) .header__nav-link {
    padding-right: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    display: flex;
    min-height: calc(100vh - 4.875rem);
  }
  .banner__img-wrapper {
    height: auto !important;
    order: 1;
  }
  .banner__img-border {
    top: 0;
    right: unset;
    left: -0.125rem;
    bottom: 0;
    width: auto;
    height: 100%;
  }
  .banner__img-border--desktop {
    display: block;
  }
  .banner__img-border--mobile {
    display: none;
  }
  .banner__title {
    font-size: 2.125rem;
    font-weight: bold;
  }
  .banner__link {
    left: 18.75rem;
    bottom: 3.75rem;
  }
}
@media screen and (min-width: 992px) {
  .header__logo-wrapper-link {
    top: 0.875rem;
  }
  .header__logo {
    width: 7.75rem;
  }
  .header__logo--scrolling-down {
    width: 4.875rem;
  }
  .header__top {
    padding: 0.75rem 0;
  }
  .header__text {
    font-size: 1.125rem;
  }
  .header__extra-text {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
  }
  .header__nav-list {
    margin-left: 15rem;
    margin-right: 0;
    padding: 1.25rem 0;
  }
  .header__nav-item:not(:last-child) .header__nav-link {
    padding-right: 2rem;
  }
  .header__contact {
    display: grid;
    grid-auto-flow: column;
    gap: var(--space-between-items);
    margin-left: auto;
    margin-right: var(--side-space);
  }

  .banner {
    min-height: calc(100vh - 6.25rem);
  }
  .banner__link {
    left: 21.875rem;
  }

  .footer {
    background-color: transparent;
    transform: none;
    box-shadow: none;
    pointer-events: none;
  }
  .footer__social-media, .footer__dividing-line, .footer__text {
    visibility: hidden;
  }
  .footer__whatsapp-link {
    position: absolute;
    right: var(--side-space);
    bottom: var(--bottom-space);
    margin: 0;
    padding: 0.9375rem 0.875rem;
    filter: drop-shadow(0.125rem -0.1875rem 0.5rem rgba(0, 0, 0, 0.25));
    transition: ease-out 0.4s;
    transition-property: transform, filter;
  }
  .footer__whatsapp-link:hover {
    transform: scale(1.25);
    filter: drop-shadow(0.125rem -0.1875rem 0.5rem rgba(0, 0, 0, 0.5));
  }
  .footer__whatsapp-icon {
    width: 2.5rem;
  }

  .lds-ellipsis {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo {
    width: 9.625rem;
  }
  .header__logo--scrolling-down {
    width: 4.875rem;
  }
  .header__nav-list {
    margin-left: 16.875rem;
  }
  .header__nav-item:not(:last-child) .header__nav-link {
    padding-right: 4.5rem;
  }

  .banner__title {
    font-size: 2.5rem;
  }
  .banner__link {
    left: 25.125rem;
    bottom: 4.375rem;
  }

  .footer__whatsapp-icon {
    width: 3.1875rem;
  }

  .lds-ellipsis {
    font-size: 2rem;
  }
}
.v-hidden {
  visibility: hidden;
}

.banner--home .banner__img-wrapper {
  height: 19.4375rem;
}
.banner--home .banner__content {
  padding: 0.1875rem var(--side-space) 5.125rem var(--side-space);
}
.banner--home .banner__title {
  margin-bottom: var(--space-between-items);
}

.section-wrapper {
  display: grid;
  row-gap: var(--space-between-items);
  padding: 0 var(--side-space) var(--bottom-space) var(--side-space);
  overflow-y: hidden;
}

.product-preview__container,
.payment-means__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  column-gap: var(--space-between-blocks);
  row-gap: var(--space-between-items);
}

.product-preview {
  padding: var(--space-between-blocks) var(--side-space) var(--space-between-blocks) var(--side-space);
}
.product-preview__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-between-items);
}
.product-preview__title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #303030;
}
@media screen and (min-width: 992px) {
  .product-preview__title {
    font-size: 1.5rem;
  }
}
.product-preview__link {
  font-size: 0.8125rem;
  font-weight: 600;
  margin-left: auto;
  color: #d49b16;
}
@media screen and (min-width: 768px) {
  .product-preview__link {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .product-preview__link {
    font-size: 1.125rem;
  }
}
.product-preview__link:hover {
  color: #d49b16;
}
.product-preview__product {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  row-gap: var(--space-between-items);
  position: relative;
  padding: var(--space-between-items) 0;
  border: 0.0625rem solid #318b7c;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: box-shadow ease-in-out 0.15s;
  overflow: hidden;
}
.product-preview__product:hover {
  box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.product-preview__product::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.product-preview__product--1::before {
  background-image: linear-gradient(0deg, #ffffff 39%, #ffffff00 100%), url("../assets/layout/pattern.png");
}
.product-preview__product--2::before {
  background-image: linear-gradient(180deg, #ffffff 39%, #ffffff00 100%), url("../assets/layout/pattern.png");
  transform: rotate(180deg) scaleX(-1);
}
.product-preview__product--3::before {
  background-image: linear-gradient(0deg, #ffffff 39%, #ffffff00 100%), url("../assets/layout/pattern.png");
  transform: scaleX(-1);
}
.product-preview__product--4::before {
  background-image: linear-gradient(180deg, #ffffff 39%, #ffffff00 100%), url("../assets/layout/pattern.png");
  transform: rotate(180deg);
}
.product-preview__product-img, .product-preview__product-text {
  z-index: 1;
}
.product-preview__product-img {
  max-height: 5.5rem;
}
.product-preview__product-title {
  color: #d49b16;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
.product-preview__product-description {
  display: none;
}

.payment-means__title {
  display: inline-block;
  margin-bottom: var(--space-between-items);
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}
.payment-means__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 2.5625rem;
  padding: 0.3125rem 0.5625rem;
  background-color: #ffffff;
  border: 0.0625rem solid #9a9a9a;
  border-radius: 1rem;
  box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.payment-means__img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 768px) {
  .banner--home {
    min-height: auto;
  }
  .banner--home .banner__content {
    padding: 8.4375rem var(--side-space) 7.5rem var(--side-space);
  }
  .banner--home .banner__title {
    width: 23.6875rem;
    margin-bottom: 1.375rem;
    margin-left: 0;
    margin-right: 0;
  }
  .banner--home .banner__text {
    width: 21.625rem;
    padding: 0;
  }

  .product-preview__container,
.payment-means__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .banner--home {
    min-height: auto;
  }

  .section-wrapper {
    margin-top: var(--test);
  }

  .product-preview__container,
.payment-means__container {
    column-gap: var(--space-between-blocks);
    row-gap: var(--space-between-items);
  }

  .product-preview {
    padding-left: var(--side-space);
    padding-right: var(--side-space);
  }
  .product-preview__product {
    row-gap: var(--space-between-items);
  }
  .product-preview__product-title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .banner--home .banner__content {
    padding: 12.4375rem 5.5625rem 7.8125rem var(--side-space);
  }

  .section-wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    justify-items: start;
    column-gap: var(--space-between-blocks);
    padding-right: 0;
  }

  .product-preview__link {
    margin-left: 4rem;
  }
  .product-preview__product {
    column-gap: var(--space-between-items);
    grid-auto-flow: column;
    padding: 1.25rem 1rem 1rem 1.5rem;
    border: none;
  }
  .product-preview__product-img {
    max-width: 6.875rem;
    max-height: 6.75rem;
  }
  .product-preview__product-text {
    align-self: flex-start;
  }
  .product-preview__product-title {
    margin-bottom: 0.5rem;
    text-align: left;
  }
  .product-preview__product-description {
    display: block;
    color: #303030;
    font-size: 1rem;
  }

  .payment-means {
    padding: 0;
  }
}
.products {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  row-gap: var(--space-between-blocks);
  column-gap: var(--space-between-items);
  padding: 2.5rem var(--side-space) var(--space-between-blocks) var(--side-space);
}

.p-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: opacity ease-in-out 0.4s;
}
.p-card__img {
  width: 100%;
  height: 19.375rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0 0;
}
.p-card__label {
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 2;
  padding: 0.5rem 1rem;
  background-color: #318B7C;
  color: #FFFFFF;
  font-size: 0.8125rem;
  text-align: right;
  border-radius: 0.5rem 0 0 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-card__label {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .p-card__label {
    font-size: 1.125rem;
  }
}
.p-card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.125rem 0.75rem;
  border-radius: 0 0 1rem 1rem;
}
.p-card__body > *:not(:last-child) {
  margin-bottom: 1rem;
}
.p-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.p-card__title {
  color: #318b7c;
  font-size: 1.125rem;
  font-weight: 500;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .p-card__title {
    font-size: 1.5rem;
  }
}
.p-card__price {
  font-size: 1.125rem;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .p-card__price {
    font-size: 1.5rem;
  }
}
.p-card__details-list {
  display: grid;
  padding: 0;
  list-style: none;
}
.p-card__details-list--with-icons {
  row-gap: 0.5rem;
}
.p-card__details-item, .p-card__details-text {
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .p-card__details-item, .p-card__details-text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .p-card__details-item, .p-card__details-text {
    font-size: 1.125rem;
  }
}
.p-card__details-icon {
  width: 1rem;
}
.p-card__bottom-info {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  column-gap: var(--space-between-blocks);
  margin-top: auto;
}
.p-card__info-box {
  padding: 0;
  border: 0;
  background: transparent;
}
.p-card__info-header {
  display: flex;
  align-items: center;
}
.p-card__info-title {
  font-size: 0.8125rem;
  font-weight: 600;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .p-card__info-title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .p-card__info-title {
    font-size: 1.125rem;
  }
}
.p-card__info-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}
.p-card__info-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  place-items: center;
  gap: 0.5rem;
  padding: 0;
  margin-top: 0.5rem;
  list-style: none;
}
.p-card__info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  font-size: 0.5625rem;
  border-radius: 50%;
  border: 0.0625rem solid #303030;
}
.p-card__info-text {
  font-size: 0.8125rem;
}

.p-modal__content {
  padding: 1rem 1rem 1.8125rem 1rem;
  border: 0;
  width: max-content;
  margin: auto;
  border-radius: 0.5rem;
}
.p-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.p-modal__title {
  font-size: 1.125rem;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .p-modal__title {
    font-size: 1.5rem;
  }
}
.p-modal__line {
  width: 100%;
  height: 0.0625rem;
  background: #9a9a9a;
}
.p-modal__close-btn {
  padding: 0.375rem !important;
}
.p-modal__close-icon {
  width: 0.875rem;
}
.p-modal__scrollable {
  overflow-y: scroll;
}
.p-modal__text {
  margin-top: 1rem;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .p-modal__text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .p-modal__text {
    font-size: 1.125rem;
  }
}
.p-modal__table-row {
  border-bottom: 0.0625rem solid #DEDEDE;
}
.p-modal__table-row--last {
  border-bottom: 0;
}
.p-modal__table-header, .p-modal__table-data {
  font-size: 0.8125rem;
  padding: 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-modal__table-header, .p-modal__table-data {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .p-modal__table-header, .p-modal__table-data {
    font-size: 1.125rem;
  }
}
.p-modal__table-header {
  font-weight: 500;
  border-bottom: 0 !important;
}
.p-modal__sub-text {
  margin-top: 0.5rem;
  font-size: 0.6875rem;
  text-align: right;
}
.p-modal__color-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.625rem;
  column-gap: 2.5rem;
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}
.p-modal__color-item {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
}
.p-modal__color-circle {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.0625rem solid #303030;
}

.more-info--products {
  margin-bottom: var(--bottom-space);
}

@media screen and (min-width: 576px) {
  .p-card__body {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .p-modal__color-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .products {
    padding-right: var(--side-space);
    padding-left: var(--side-space);
  }

  .p-card__details-icon {
    width: 1.3rem;
  }
  .p-card__info-item {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.6875rem;
  }
  .p-card__info-text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .more-info--products {
    width: max-content;
    margin-left: var(--side-space);
  }
}
.banner--phrases {
  overflow-y: hidden;
}
.banner--phrases .banner__img-wrapper {
  height: 22.5625rem;
}
.banner--phrases .banner__content {
  padding: 1rem var(--side-space) var(--bottom-space) var(--side-space);
}
.banner--phrases .banner__title {
  margin-bottom: 0.1875rem;
}
.banner--phrases .banner__sub-text {
  display: none;
}
.banner--phrases .banner__link {
  position: static;
  margin: 1rem 0 2.5rem auto;
}

.phrases-history {
  background-color: #318b7c;
  padding: 0 calc(2.5rem - var(--side-space));
}
.phrases-history__line {
  width: 100%;
  height: 0.0625rem;
  background-color: #ffffff;
}
.phrases-history__content {
  padding: 2.5rem 0;
}
.phrases-history__title, .phrases-history__blockquote, .phrases-history__author-wrapper {
  color: #ffffff;
}
.phrases-history__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.3125rem;
}
.phrases-history__blockquote, .phrases-history__author-wrapper {
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .phrases-history__blockquote, .phrases-history__author-wrapper {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .phrases-history__blockquote, .phrases-history__author-wrapper {
    font-size: 1.125rem;
  }
}
.phrases-history__blockquote {
  position: relative;
}
.phrases-history__blockquote::before {
  content: "“";
  font-size: 4.5rem;
  line-height: 0;
  vertical-align: bottom;
  margin-right: -0.05em;
}
.phrases-history__blockquote::after {
  content: "”";
}
.phrases-history__large-text {
  font-size: 1rem;
  font-weight: 600;
}
.phrases-history__author-wrapper {
  margin-top: 0.5625rem;
  text-align: right;
}
.phrases-history__author-name {
  display: block;
  font-weight: 700;
  font-style: normal;
}

.lds-ellipsis--phrases {
  position: static;
  transform: none;
  height: 30vh;
  color: white;
}

@media screen and (min-width: 768px) {
  .banner--phrases .banner__content {
    padding-top: 5.5rem;
  }
  .banner--phrases .banner__title {
    width: 23.75rem;
    margin-top: 0;
    margin-left: 0;
  }
  .banner--phrases .banner__text, .banner--phrases .banner__sub-text {
    width: 25rem;
    margin-left: 0;
  }
  .banner--phrases .banner__sub-text {
    display: block;
    margin-top: 1rem;
    color: #ffffff;
    font-weight: 600;
  }
  .banner--phrases .banner__link {
    margin: 1.5rem auto 2.125rem auto;
  }

  .phrases-history {
    padding: 0;
  }
  .phrases-history__title {
    font-size: 2rem;
    text-align: center;
  }
  .phrases-history__blockquote {
    width: 24.375rem;
    margin: 0 auto;
  }
  .phrases-history__large-text {
    font-size: 1.5rem;
  }
  .phrases-history__author-name {
    font-size: 1.0625rem;
  }
  .phrases-history__author-location {
    font-size: 0.9375rem;
  }
}
@media screen and (min-width: 1440px) {
  .banner--phrases .banner__content {
    padding-right: 3.3125rem;
  }
  .banner--phrases .banner__text, .banner--phrases .banner__sub-text {
    width: 29.625rem;
  }
}
.banner--el-parche {
  overflow-y: hidden;
}
.banner--el-parche .banner__img-wrapper {
  height: 22.6875rem;
}
.banner--el-parche .banner__content {
  padding: 0.75rem var(--side-space) var(--bottom-space) var(--side-space);
}
.banner--el-parche .banner__title {
  margin-bottom: 0.3125rem;
}

@media screen and (min-width: 768px) {
  .banner--el-parche .banner__content {
    padding-top: 5.5rem;
  }
  .banner--el-parche .banner__title {
    margin-bottom: 1rem;
  }
  .banner--el-parche .banner__text {
    width: 25rem;
  }
}
.faq {
  padding: 2.5rem var(--side-space) 4.375rem var(--side-space);
}
.faq__title {
  color: #318b7c;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.faq__collapsable {
  border-radius: 1rem;
  background-color: transparent;
  border: 0;
  margin-bottom: 2rem;
}
.faq__collapsable-header {
  padding: 0;
  border: 0.0625rem solid #318B7C;
  background: white;
  border-radius: 1rem !important;
}
.faq__collapsable-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border: 0;
  background-color: transparent;
}
.faq__collapsable-btn[aria-expanded=true] .faq__collapsable-arrow {
  transform: scaleY(-1);
}
.faq__collapsable-title {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #303030;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .faq__collapsable-title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .faq__collapsable-title {
    font-size: 1.125rem;
  }
}
.faq__collapsable-arrow {
  width: 0.875rem;
  margin: 0 0.5rem;
  transition: transform ease-in-out 0.25s;
}
.faq__collapsable-body {
  display: grid;
  row-gap: 2rem;
  padding: 2rem 1rem 0 1rem;
}
.faq__collapsable-subtitle {
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .faq__collapsable-subtitle {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .faq__collapsable-subtitle {
    font-size: 1.125rem;
  }
}
.faq__collapsable-text {
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .faq__collapsable-text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .faq__collapsable-text {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 992px) {
  .faq {
    padding: 4rem 8.875rem 4.375rem 15rem;
  }
  .faq__collapsable {
    margin-bottom: 1.5rem;
  }
  .faq__collapsable-btn {
    padding: 1.25rem;
  }
}
@media screen and (min-width: 1440px) {
  .faq {
    padding-left: 16.875rem;
  }
}

/*# sourceMappingURL=style.css.map */
