@charset "UTF-8";
* {
  font-family: "Work Sans", sans-serif;
  letter-spacing: -0.02em;
  line-height: normal;
}

p,
h1, h2, h3, h4, h5, h6,
ul,
ol,
figure {
  margin-bottom: 0;
}

body {
  background-color: #F6F6F6;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__logo-wrapper-link {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
.header__logo {
  width: 92px;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.25));
}
.header__top {
  padding: 0.5rem 0;
  background-color: #318B7C;
}
.header__text {
  grid-column-start: 2;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
}
.header__extra-text, .header__contact {
  display: none;
}
.header__nav {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}
.header__nav-list {
  display: flex;
  width: max-content;
  margin-left: auto;
  margin-right: 1rem;
  padding: 1rem 0;
  list-style: none;
}
.header__nav-item:not(:last-child) .header__nav-link {
  padding-right: 0.5rem;
}
.header__nav-link {
  color: #303030;
  font-size: 13px;
  text-decoration: none;
}
.header__nav-link--active {
  font-weight: 600;
}
.header__nav-link:hover {
  color: #303030;
  text-decoration: none;
}
.header__underline {
  position: absolute;
  height: 3px;
  background-color: #D49B16;
  transition: all 0.3s linear;
}

.banner__img {
  position: relative;
  background-size: cover;
  background-position: center;
}
.banner__img-border {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -2px;
  width: 100%;
  color: #318B7C;
}
.banner__img-border--mobile {
  display: block;
}
.banner__img-border--desktop {
  display: none;
}
.banner__content {
  position: relative;
  background-color: #318B7C;
}
.banner__title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}
.banner__text {
  color: #FFFFFF;
  font-size: 13px;
}
.banner__link {
  display: table;
  position: absolute;
  right: 16px;
  bottom: 35px;
  padding: 0.5rem;
  background-color: #D49B16;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 12px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.custom-indicators {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  right: 0;
  bottom: 14px;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: 0;
  list-style: none;
}
.custom-indicators__indicator {
  padding: 5px;
  border: 3px solid #FFFFFF !important;
  width: 12px !important;
  height: 12px !important;
  background-color: transparent !important;
  box-sizing: border-box !important;
  border-radius: 50%;
  opacity: 1 !important;
}
.custom-indicators__indicator.active {
  border-color: #D49B16 !important;
}

.more-info__text {
  color: #303030;
  font-size: 13px;
  text-align: center;
}
.more-info__link {
  color: #D49B16;
}

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 50px;
  padding: 14px 0px 14px 1rem;
  background-color: #318B7C;
  transform: translateY(150%);
  box-shadow: 2px -3px 8px rgba(0, 0, 0, 0.25);
  transition: transform ease-in-out 0.6s;
}
.footer__social-media {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
.footer__social-media-icon {
  color: #FFFFFF;
  height: 23px;
}
.footer__dividing-line {
  margin: 0 1rem;
  width: 1px;
  height: 23px;
  background-color: #FFFFFF;
}
.footer__text {
  color: #FFFFFF;
  font-weight: 600;
  font-size: min(13px, 3vw);
  letter-spacing: -0.08em;
}
.footer__whatsapp-link {
  background: #D49B16;
  padding: 13px;
  border-radius: 50%;
  margin: -21px 1rem 8px auto;
}
.footer__whatsapp-icon {
  width: 36px;
}
.footer--scrolling-down {
  transform: none;
}
.footer--scrolling-down .footer__whatsapp-link {
  filter: drop-shadow(2px -3px 8px rgba(0, 0, 0, 0.25));
}

[data-aos=shrink-logo] {
  transition-property: width;
}
[data-aos=shrink-logo].aos-animate {
  width: 58px;
}

@media screen and (min-width: 768px) {
  .banner {
    display: flex;
  }
  .banner__img {
    width: 100%;
    height: auto !important;
    order: 1;
  }
  .banner__img-border {
    top: 0;
    right: unset;
    left: -2px;
    bottom: 0;
    width: auto;
    height: 100%;
  }
  .banner__img-border--desktop {
    display: block;
  }
  .banner__img-border--mobile {
    display: none;
  }
  .banner__title {
    font-size: 34px;
    font-weight: bold;
  }
  .banner__text {
    font-size: 20px;
  }
  .banner__link {
    left: 370px;
    bottom: 60px;
  }
}
@media screen and (min-width: 992px) {
  .header__logo-wrapper-link {
    top: 14px;
    left: 56px;
  }
  .header__logo {
    width: 124px;
  }
  .header__top {
    padding: 12px 0;
  }
  .header__text {
    font-size: 16px;
  }
  .header__extra-text {
    display: inline;
  }
  .header__extra-text {
    font-size: 13px;
    font-weight: 400;
  }
  .header__nav-list {
    margin-left: 240px;
    margin-right: 0;
    padding: 20px 0;
  }
  .header__nav-item:not(:last-child) .header__nav-link {
    padding-right: 2rem;
  }
  .header__nav-link {
    font-size: 16px;
  }
  .header__contact {
    display: grid;
    grid-auto-flow: column;
    gap: 19px;
    margin-left: auto;
    margin-right: 56px;
  }
  .header [data-aos=shrink-logo].aos-animate {
    width: 78px;
  }

  .footer {
    background-color: transparent;
    transform: none;
    box-shadow: none;
    pointer-events: none;
  }
  .footer__social-media, .footer__dividing-line, .footer__text {
    visibility: hidden;
  }
  .footer__whatsapp-link {
    position: absolute;
    right: 46px;
    bottom: 40px;
    margin: 0;
    padding: 15px 14px;
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
  }
  .footer__whatsapp-icon {
    width: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo {
    width: 154px;
  }
  .header__nav-list {
    margin-left: 270px;
  }
  .header__nav-item:not(:last-child) .header__nav-link {
    padding-right: 72px;
  }

  .banner__title {
    font-size: 40px;
  }
  .banner__link {
    left: 402px;
    bottom: 70px;
  }

  .footer__whatsapp-link {
    right: 56px;
  }
  .footer__whatsapp-icon {
    width: 51px;
  }
}
.banner--home .banner__img {
  height: 311px;
}
.banner--home .banner__img--slide-1 {
  background-image: url("../assets/banners/inicio-slide-1.jpg");
}
.banner--home .banner__img--slide-2 {
  background-image: url("../assets/banners/inicio-slide-2.jpg");
}
.banner--home .banner__img--slide-3 {
  background-image: url("../assets/banners/inicio-slide-3.jpg");
}
.banner--home .banner__content {
  padding: 3px 1rem 82px 1rem;
}
.banner--home .banner__title {
  margin-bottom: 11px;
}

.product-preview {
  padding-top: 22px;
  padding-bottom: 24px;
}
.product-preview__title-wrapper {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.product-preview__title {
  color: #303030;
  font-size: 18px;
  font-weight: 500;
}
.product-preview__link {
  margin-left: auto;
  color: #D49B16;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.product-preview__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(152px, 41.2vw));
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1.5rem;
}
.product-preview__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 12px;
  border: 1px solid #318B7C;
  border-radius: 1rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 70.83%), url("../assets/layout/pattern.png");
  background-color: white;
}
.product-preview__product-img {
  max-height: 87px;
  margin-bottom: 1rem;
}
.product-preview__product-name {
  color: #D49B16;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}
.product-preview__product-description {
  display: none;
}

.section-wrapper {
  display: grid;
  row-gap: 1rem;
  padding-bottom: 95px;
}

.payment-means {
  padding: 0 1rem;
}
.payment-means__title {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.payment-means__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 151px);
  grid-auto-rows: 41px;
  justify-content: center;
  column-gap: 26px;
  row-gap: 1rem;
}
.payment-means__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 9px;
  background-color: #FFFFFF;
  border: 1px solid #9A9A9A;
  border-radius: 16px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.payment-means__img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 768px) {
  .banner--home .banner__content {
    padding: 135px 56px 120px 56px;
  }
  .banner--home .banner__title {
    width: 379px;
    margin-bottom: 22px;
    margin-left: 0;
    margin-right: 0;
  }
  .banner--home .banner__text {
    width: 346px;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .product-preview {
    padding-left: 56px;
    padding-right: 51px;
  }
  .product-preview__title-wrapper, .product-preview__container {
    grid-template-columns: repeat(auto-fit, 315px);
    padding: 0;
  }
  .product-preview__link {
    margin-left: 14px;
  }
  .product-preview__product {
    flex-direction: row;
    height: 152px;
    padding: 20px 14px 15px 23px;
    border: none;
  }
  .product-preview__product-img {
    max-width: 110px;
    max-height: 108px;
    margin-right: 25px;
    margin-bottom: 0;
  }
  .product-preview__product-text {
    align-self: flex-start;
    margin-top: 10px;
  }
  .product-preview__product-name {
    margin-bottom: 8px;
  }
  .product-preview__product-description {
    display: block;
    color: #303030;
    font-size: 13px;
  }

  .payment-means {
    padding-left: 56px;
    padding-right: 0;
    margin-bottom: 21px;
  }
  .payment-means__container {
    column-gap: 58px;
  }

  .section-wrapper {
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1440px) {
  .banner--home .banner__content {
    padding: 199px 89px 125px 70px;
  }

  .section-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
    justify-items: start;
    column-gap: 3.5rem;
  }

  .payment-means__container {
    grid-auto-flow: column;
    grid-auto-columns: 151px;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(100%, 357px));
  justify-content: center;
  gap: 1.5rem;
  padding: 40px 15px 24px 15px;
}

.p-card {
  border-radius: 1rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.p-card__img {
  height: 148px;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}
.p-card__img--camiseta-1 {
  background-image: url("../assets/products/camiseta-1.jpg");
}
.p-card__img--camiseta-2 {
  background-image: url("../assets/products/camiseta-2.jpg");
}
.p-card__img--camiseta-3 {
  background-image: url("../assets/products/camiseta-3.jpg");
}
.p-card__img--camiseta-4 {
  background-image: url("../assets/products/camiseta-4.jpg");
}
.p-card__img--buzo-1 {
  background-image: url("../assets/products/buzo-1.jpg");
}
.p-card__img--buzo-2 {
  background-image: url("../assets/products/buzo-2.jpg");
}
.p-card__img--buzo-3 {
  background-image: url("../assets/products/buzo-3.jpg");
}
.p-card__img--buzo-4 {
  background-image: url("../assets/products/buzo-4.jpg");
}
.p-card__img--chaqueta-1 {
  background-image: url("../assets/products/chaqueta-1.jpg");
}
.p-card__img--chaqueta-2 {
  background-image: url("../assets/products/chaqueta-2.jpg");
}
.p-card__img--chaqueta-3 {
  background-image: url("../assets/products/chaqueta-3.jpg");
}
.p-card__img--agenda-1 {
  background-image: url("../assets/products/agenda-1.jpg");
}
.p-card__img--agenda-2 {
  background-image: url("../assets/products/agenda-2.jpg");
}
.p-card__img--agenda-3 {
  background-image: url("../assets/products/agenda-3.jpg");
}
.p-card__img--pocillo-1 {
  background-image: url("../assets/products/pocillo-1.jpg");
}
.p-card__img--pocillo-2 {
  background-image: url("../assets/products/pocillo-2.jpg");
}
.p-card__img--pocillo-3 {
  background-image: url("../assets/products/pocillo-3.jpg");
}
.p-card__img--pocillo-4 {
  background-image: url("../assets/products/pocillo-4.jpg");
}
.p-card__img--cafe-1 {
  background-image: url("../assets/products/cafe-1.jpg");
}
.p-card__img--cafe-2 {
  background-image: url("../assets/products/cafe-2.jpg");
}
.p-card__img--cafe-3 {
  background-image: url("../assets/products/cafe-3.jpg");
}
.p-card__label {
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 2;
  width: 103px;
  padding: 4px 11px;
  background-color: #318B7C;
  color: #FFFFFF;
  font-size: 11px;
  text-align: right;
  border-radius: 0.5rem 0 0 0.5rem;
}
.p-card__body {
  padding: 18px 12px;
  background-color: #FFFFFF;
  border-radius: 0 0 1rem 1rem;
}
.p-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.p-card__title {
  color: #318B7C;
  font-size: 20px;
  font-weight: 700;
}
.p-card__price {
  font-size: 18px;
  font-weight: 500;
}
.p-card__details-list {
  display: grid;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
}
.p-card__details-list--with-icons {
  row-gap: 0.5rem;
}
.p-card__details-item, .p-card__details-text {
  font-size: 13px;
}
.p-card__details-icon {
  width: 1rem;
}
.p-card__bottom-info {
  display: flex;
  justify-content: space-between;
}
.p-card__info-box {
  flex: 1;
  padding: 0;
  border: 0;
  background: transparent;
}
.p-card__info-title {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}
.p-card__info-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1rem);
  grid-auto-rows: 1rem;
  place-items: center;
  gap: 0.5rem;
  padding: 0;
  margin-top: 0.5rem;
  width: 100%;
  list-style: none;
}
.p-card__info-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.p-card__info-item--size, .p-card__info-item--more-colors {
  padding: 2px;
  font-size: 9px;
  border: 1px solid #303030;
  text-align: center;
}
.p-card__info-item--color-1 {
  background-color: red;
}
.p-card__info-item--color-2 {
  background-color: yellow;
}
.p-card__info-item--color-3 {
  background-color: gray;
}
.p-card__info-item--color-4 {
  background-color: lightgray;
}
.p-card__info-item--color-5 {
  background-color: orange;
}

.p-modal__content {
  padding: 1rem 1rem 29px 1rem;
  border: 0;
  width: max-content;
  margin: auto;
  border-radius: 0.5rem;
}
.p-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.p-modal__title {
  font-size: 18px;
  font-weight: 500;
}
.p-modal__line {
  width: 100%;
  height: 1px;
  background: #9A9A9A;
}
.p-modal__close-btn {
  padding: 6px !important;
}
.p-modal__close-icon {
  width: 14px;
}
.p-modal__table-row {
  border-bottom: 1px solid #DEDEDE;
}
.p-modal__table-row--last {
  border-bottom: 0;
}
.p-modal__table-header, .p-modal__table-data {
  font-size: 13px;
  padding: 1rem;
}
.p-modal__table-header {
  font-weight: 500;
  border-bottom: 0 !important;
}
.p-modal__color-list {
  display: grid;
  grid-template-columns: repeat(2, 84px);
  row-gap: 10px;
  column-gap: 40px;
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}
.p-modal__color-item {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.p-modal__color-circle {
  margin-right: 8px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.p-modal__color-circle--rojo {
  background-color: red;
}
.p-modal__color-circle--amarillo {
  background-color: yellow;
}
.p-modal__color-circle--gris {
  background-color: gray;
}
.p-modal__color-circle--ceniza {
  background-color: lightgray;
}
.p-modal__color-circle--naranja {
  background-color: orange;
}
.p-modal__color-circle--cyan {
  background-color: cyan;
}
.p-modal__color-circle--azul {
  background-color: blue;
}
.p-modal__color-circle--verde {
  background-color: green;
}
.p-modal__color-circle--negro {
  background-color: black;
}
.p-modal__color-circle--purpura {
  background-color: purple;
}
.p-modal__color-circle--rosa {
  background-color: pink;
}
.p-modal__color-circle--marron {
  background-color: brown;
}

.more-info--products {
  margin-bottom: 86px;
}

@media screen and (min-width: 768px) {
  .p-modal__color-list {
    grid-template-columns: repeat(3, 84px);
  }
}
@media screen and (min-width: 992px) {
  .products {
    grid-template-columns: repeat(auto-fit, min(100%, 417px));
    column-gap: 39px;
    row-gap: 42px;
  }

  .more-info--products {
    margin-top: 14px;
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .more-info--products {
    width: max-content;
    margin-left: 65px;
  }

  .more-info--products {
    margin-top: 0;
    margin-bottom: 76px;
  }
}
.banner--phrases .banner__img {
  height: 361px;
}
.banner--phrases .banner__img--phrases {
  background-image: url("../assets/banners/frases-banner.jpg");
}
.banner--phrases .banner__content {
  padding-top: 1rem;
}
.banner--phrases .banner__title, .banner--phrases .banner__text {
  margin-right: 1rem;
  margin-left: 1rem;
}
.banner--phrases .banner__title {
  margin-bottom: 3px;
}
.banner--phrases .banner__sub-text {
  display: none;
}
.banner--phrases .banner__link {
  position: static;
  margin: 1rem 15px 40px auto;
}

.phrases-history {
  padding: 0 40px;
  padding-bottom: 90px;
  background-color: #318B7C;
}
.phrases-history__line {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}
.phrases-history__content {
  padding: 40px 0;
}
.phrases-history__title, .phrases-history__blockquote, .phrases-history__author-wrapper {
  color: #FFFFFF;
}
.phrases-history__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 21px;
}
.phrases-history__blockquote, .phrases-history__author-wrapper {
  font-size: 13px;
}
.phrases-history__blockquote {
  font-size: 13px;
  position: relative;
}
.phrases-history__blockquote::before {
  content: "“";
  font-size: 72px;
  line-height: 0;
  vertical-align: bottom;
  margin-right: -0.05em;
}
.phrases-history__blockquote::after {
  content: "”";
}
.phrases-history__large-text {
  font-size: 16px;
  font-weight: 600;
}
.phrases-history__author-wrapper {
  margin-top: 9px;
  text-align: right;
}
.phrases-history__author-name {
  display: block;
  font-weight: 700;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .banner--phrases .banner__content {
    padding: 88px 40px 34px 54px;
  }
  .banner--phrases .banner__title {
    width: 380px;
    margin-top: 0;
    margin-left: 0;
  }
  .banner--phrases .banner__text, .banner--phrases .banner__sub-text {
    width: 400px;
    margin-left: 0;
    font-size: 16px;
  }
  .banner--phrases .banner__sub-text {
    display: block;
    margin-top: 1rem;
    color: #FFFFFF;
    font-weight: 600;
  }
  .banner--phrases .banner__link {
    margin: 24px auto 34px auto;
  }

  .phrases-history {
    padding: 0;
  }
  .phrases-history__title {
    font-size: 32px;
    text-align: center;
  }
  .phrases-history__blockquote {
    width: 390px;
    margin: 0 auto;
    font-size: 16px;
  }
  .phrases-history__large-text {
    font-size: 24px;
  }
  .phrases-history__author-name {
    font-size: 17px;
  }
  .phrases-history__author-location {
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .banner--phrases .banner__content {
    padding-right: 53px;
  }
  .banner--phrases .banner__text, .banner--phrases .banner__sub-text {
    width: 474px;
  }
}
.banner--el-parche .banner__img {
  height: 363px;
}
.banner--el-parche .banner__img--el-parche {
  background-image: url("../assets/banners/el-parche-banner.jpg");
}
.banner--el-parche .banner__content {
  padding: 0.75rem 1rem 92px 1rem;
}
.banner--el-parche .banner__title {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .banner--el-parche {
    min-height: calc(100vh - 102px);
  }
  .banner--el-parche .banner__content {
    padding: 88px 40px 34px 54px;
  }
  .banner--el-parche .banner__title {
    margin-bottom: 16px;
  }
  .banner--el-parche .banner__text {
    width: 400px;
    font-size: 16px;
  }
}
.faq {
  padding: 1.5rem 1rem;
}
.faq__title {
  color: #318B7C;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.faq__collapsable {
  border-radius: 16px;
  background-color: transparent;
  border: 0;
  margin-bottom: 1rem;
}
.faq__collapsable-header {
  padding: 0;
  border: 1px solid #318B7C;
  background: white;
  border-radius: 16px !important;
}
.faq__collapsable-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  border: 0;
  background-color: transparent;
}
.faq__collapsable-title {
  color: #303030;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}
.faq__collapsable-arrow {
  width: 14px;
  margin: 0 0.5rem;
}
.faq__collapsable-body {
  display: grid;
  row-gap: 1rem;
  padding: 1rem 1rem 0 1rem;
}
.faq__collapsable-subtitle, .faq__collapsable-text {
  font-size: 13px;
}
.faq__collapsable-subtitle {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .faq__container {
    width: min(760px, 70%);
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
