.banner--el-parche {
	.banner {
		&__img {
			height: 363px;
			&--el-parche {
				background-image: url('../assets/banners/el-parche-banner.jpg');
			}
		}
		&__content {
			padding: 0.75rem var(--side-space) 92px var(--side-space);
		}
		&__title {
			margin-bottom: 5px;
		}
	}
}

@media screen and (min-width: map-get($breakpoints, md)) {
	.banner--el-parche {
		min-height: calc(100vh - 102px);
		.banner {
			&__content {
				padding-top: 88px;
				padding-bottom: 34px;
			}
			&__title {
				margin-bottom: 16px;
			}
			&__text {
				width: 400px;
				font-size: $font-size-4;
			}
		}
	}
}