.banner--el-parche {
  overflow-y: hidden;
	.banner {
		&__img {
			height: 363px;
			&--el-parche {
				background-image: url('../assets/banners/el-parche-banner.jpg');
			}
		}
		&__content {
			padding: 0.75rem var(--side-space) var(--bottom-space) var(--side-space);
		}
		&__title {
			margin-bottom: 5px;
		}
	}
}

@media screen and (min-width: map-get($breakpoints, md)) {
	.banner--el-parche {
		.banner {
			&__content {
				padding-top: 88px;
			}
			&__title {
				margin-bottom: 16px;
			}
			&__text {
				width: 400px;
			}
		}
	}
}