.banner--phrases {
  overflow-y: hidden;
	.banner {
		&__img-wrapper {
			height: 22.5625rem;
		}
		&__content {
      padding: 1rem var(--side-space) var(--bottom-space) var(--side-space);
		}
		&__title {
			margin-bottom: 0.1875rem;
		}
		&__sub-text {
			display: none;
		}
		&__link {
			position: static;
			margin: 1rem 0 2.5rem auto;
		}
	}
}
.phrases-history {
	background-color: $principal-dark;
  padding: 0 calc(2.5rem - var(--side-space));
	&__line {
		width: 100%;
		height: 0.0625rem;
		background-color: $white;
	}
	&__content {
		padding: 2.5rem 0;
	}
	&__title,
	&__blockquote,
	&__author-wrapper {
		color: $white;
	}
	&__title {
		font-size: $fs-6;
		font-weight: 700;
		margin-bottom: 1.3125rem;
	}
	&__blockquote,
	&__author-wrapper {
    @include body-text;
	}
	&__blockquote {
		position: relative;
		&::before {
			content: "“";
			font-size: $fs-1;
			line-height: 0;
			vertical-align: bottom;
			margin-right: -0.05em;
		}
		&::after {
			content: "”";
		}
	}
	&__large-text {
		font-size: $fs-9;
		font-weight: 600;
	}
	&__author-wrapper {
		margin-top: 0.5625rem;
		text-align: right;
	}
	&__author-name {
		display: block;
		font-weight: 700;
		font-style: normal;
	}

}
.lds-ellipsis--phrases {
  position: static;
  transform: none;
  height: 30vh;
  color: white;
}

@media screen and (min-width: map-get($breakpoints, md)) {
	.banner--phrases {
		.banner {
			&__content {
        padding-top: 5.5rem;
			}
			&__title {
				width: 23.75rem;
				margin-top: 0;
				margin-left: 0;
			}
			&__text,
			&__sub-text {
				width: 25rem;
				margin-left: 0;
			}
			&__sub-text {
				display: block;
				margin-top: 1rem;
				color: $white;
				font-weight: 600;
			}
			&__link {
				margin: 1.5rem auto 2.125rem auto;
			}
		}
	}
	.phrases-history {
		padding: 0;
		&__title {
			font-size: $fs-4;
			text-align: center;
		}
		&__blockquote {
			width: 24.375rem;
			margin: 0 auto;
		}
		&__large-text {
			font-size: $fs-5;
		}
		&__author-name {
			font-size: $fs-8;
		}
		&__author-location {
			font-size: $fs-10;
		}
	}
}

@media screen and (min-width: map-get($breakpoints, xxl)) {
	.banner--phrases {
		.banner {
			&__content {
				padding-right: 3.3125rem;
			}
			&__text,
			&__sub-text {
				width: 29.625rem;
			}
		}
	}
}