* {
	font-family: $font-family, sans-serif;
	letter-spacing: $letter-spacing;
	// Override Bootstrap
	line-height: normal;
}
p,
h1, h2, h3, h4, h5, h6,
ul,
ol,
figure {
	margin-bottom: 0;
}

body {
	background-color: $light-gray;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	&__logo-wrapper-link {
		position: absolute;
		top: 0.5rem;
		left: 1rem;
	}
	&__logo {
		width: 92px;
		filter: drop-shadow($shadow-1);
	}
	&__top {
		padding: 0.5rem 0;
		background-color: $principal-dark;
	}
	&__text {
		grid-column-start: 2;
		color: $white;
		font-size: $font-size-6;
		font-weight: 600;
		text-align: center;
	}
	&__extra-text,
	&__contact {
		display: none;
	}
	&__nav {
		display: flex;
		align-items: center;
		background-color: $white;
		box-shadow: $shadow-1;
	}
	&__nav-list {
		display: flex;
		width: max-content;
		margin-left: auto;
		margin-right: 1rem;
		padding: 1rem 0;
		list-style: none;
	}
	&__nav-item:not(:last-child) &__nav-link {
		padding-right: 0.5rem; //Gap
	}
	&__nav-link {
		color: $black;
		font-size: $font-size-5;
		text-decoration: none;
		&--active {
			font-weight: 600;
		}
		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
	&__underline {
		position: absolute;
		height: 3px;
		background-color: $acento;
		transition: all .3s linear;
	}
}
.banner {
	&__img {
		position: relative;
		background-size: cover;
		background-position: center;
	}
	&__img-border {
		position: absolute;
		right: 0;
		left: 0;
		bottom: -2px; // Fix bottom white space in Chrome
		width: 100%;
		color: $principal-dark;
		&--mobile {
			display: block;
		}
		&--desktop {
			display: none;
		}
	}
	&__content {
		position: relative;
		background-color: $principal-dark;
	}
	&__title {
		color: $white;
		font-size: $font-size-3;
		font-weight: 700;
	}
	&__text {
		color: $white;
		font-size: $font-size-5;
	}
	&__link {
		display: block;
		position: absolute;
		right: 16px;
		bottom: 35px;
		width: max-content;
		padding: 0.5rem;
		background-color: $acento;
		color: $white;
		font-size: $font-size-5;
		font-weight: 600;
		text-decoration: none;
		border-radius: 12px;
		box-shadow: $shadow-2;
	}
}
.custom-indicators {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	gap: 1rem;
	position: absolute;
	right: 0;
	bottom: 14px;
	left: 0;
	z-index: 2;
	padding: 0;
	margin: 0;
	list-style: none;
	&__indicator {
		padding: 5px;
		border: 3px solid $white !important;
		width: 12px !important;
		height: 12px !important;
		background-color: transparent !important;
		box-sizing: border-box !important;
		border-radius: 50%;
		opacity: 1 !important;
		&.active {
			border-color: $acento !important;
		}
	}
}
.more-info {
	&__text {
		color: $black;
		font-size: $font-size-5;
		text-align: center;
	}
	&__link {
		color: $acento;
	}
}
.footer {
	display: flex;
	align-items: center;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	height: 50px;
	padding: 14px 0px 14px 1rem;
	background-color: $principal-dark;
	transform: translateY(150%);
	box-shadow: $shadow-3;
	transition: transform ease-in-out 0.6s;
	&__social-media {
		display: grid;
		grid-auto-flow: column;
		gap: 1rem;
	}
	&__social-media-icon {
		color: $white;
		height: 23px;
	}
	&__dividing-line {
		margin: 0 1rem;
		width: 1px;
		height: 23px;
		background-color: $white;
	}
	&__text {
		color: $white;
		font-weight: 600;
		font-size: min(#{$font-size-5}, 3vw);
		letter-spacing: -0.08em;
	}
	&__whatsapp-link {
		background: $acento;
		padding: 13px;
		border-radius: 50%;
		margin: -21px 1rem 8px auto;
	}
	&__whatsapp-icon {
		width: 36px;
	}
	&--scrolling-down {
		transform: none;
		.footer__whatsapp-link {
			filter: drop-shadow($shadow-3);
		}
	}
}
[data-aos="shrink-logo"] {
  transition-property: width;
  &.aos-animate {
    width: 58px;
  }
}

@media screen and (min-width: map-get($breakpoints, md)) {
	.banner {
		display: flex;
		&__img {
			width: 100%;
			height: auto !important;
			order: 1;
		}
		&__img-border {
			top: 0;
			right: unset;
			left: -2px;
			bottom: 0;
			width: auto;
			height: 100%;
			&--desktop {
				display: block;
			}
			&--mobile {
				display: none;
			}
		}
		&__title {
			font-size: $font-size-2;
			font-weight: bold;
		}
		&__text {
			font-size: $font-size-3;
		}
		&__link {
			left: 370px;
			bottom: 60px;
		}
	}
}

@media screen and (min-width: map-get($breakpoints, lg)) {
	.header {
		&__logo-wrapper-link {
			top: 14px;
			left: 56px;
		}
		&__logo {
			width: 124px;
		}
		&__top {
			padding: 12px 0;
		}
		&__text {
			font-size: $font-size-4;
		}
		&__extra-text {
			display: inline;
		}
		&__extra-text {
			font-size: $font-size-5;
			font-weight: 400;
		}
		&__nav-list {
			margin-left: 240px;
			margin-right: 0;
			padding: 20px 0;
		}
		&__nav-item {
			&:not(:last-child) .header__nav-link {
				padding-right: 2rem;
			}
		}
		&__nav-link {
			font-size: $font-size-4;
		}
		&__contact {
			display: grid;
			grid-auto-flow: column;
			gap: 19px;
			margin-left: auto;
			margin-right: 56px;
		}
		[data-aos="shrink-logo"] {
			&.aos-animate {
				width: 78px
			}
		}
	}
	.footer {
		background-color: transparent;
		transform: none;
		box-shadow: none;
		pointer-events: none;
		&__social-media,
		&__dividing-line,
		&__text {
			visibility: hidden;
		}
		&__whatsapp-link {
			position: absolute;
			right: 46px;
			bottom: 40px;
			margin: 0;
			padding: 15px 14px;
			filter: drop-shadow($shadow-2);
		}
		&__whatsapp-icon {
			width: 40px;
		}
	}
	
}

@media screen and (min-width: map-get($breakpoints, xxl)) {
	.header {
		&__logo {
			width: 154px;
		}
		&__nav-list {
			margin-left: 270px;
		}
		&__nav-item {
			&:not(:last-child) .header__nav-link {
				padding-right: 72px;
			}
		}
	}
	.banner {
		&__title {
			font-size: $font-size-1;
		}
		&__link {
			left: 402px;
			bottom: 70px;
		}
	}
	.footer {
		&__whatsapp-link {
			right: 56px;
		}
		&__whatsapp-icon {
			width: 51px;
		}
	}
}