.banner--home {
	.banner {
		&__img {
			height: 311px;
			&--slide-1 {
			background-image: url('../assets/banners/inicio-slide-1.jpg');
			}
			&--slide-2 {
				background-image: url('../assets/banners/inicio-slide-2.jpg');
			}
			&--slide-3 {
				background-image: url('../assets/banners/inicio-slide-3.jpg');
			}
		}
		&__content {
			padding: 3px var(--side-space) 82px var(--side-space);
		}
		&__title {
			margin-bottom: var(--space-between-items);
		}
	}
}
.section-wrapper {
	display: grid;
	row-gap: var(--space-between-items);
	padding: 0 var(--side-space) 95px var(--side-space);
}
.product-preview__container,
.payment-means__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	column-gap: var(--space-between-blocks);
	row-gap: var(--space-between-items);
}
.product-preview {
	padding: var(--space-between-blocks) var(--side-space) var(--space-between-blocks) var(--side-space);
	&__title-wrapper {
		display: flex;
		align-items: center;
		margin-bottom: var(--space-between-items);
	}
	&__title {
		color: $black;
		font-size: $font-size-7;
		font-weight: 500;
	}
	&__link {
		margin-left: auto;
		color: $acento;
		font-size: $font-size-5;
		font-weight: 600;
		&:hover {
			color: $acento;
		}
	}
	&__product {
		display: grid;
		align-items: center;
		justify-content: center;
		row-gap: var(--space-between-items);
		padding: var(--space-between-items) 0;
		border: 1px solid $principal-dark;
		border-radius: 1rem;
		box-shadow: $shadow-2;
		background-image: $product-preview-gradient, url('../assets/layout/pattern.png');
		background-color: $white;
	}
	&__product-img {
		max-height: 88px;
	}
	&__product-title {
		color: $acento;
		margin-bottom: 0;
		font-size: $font-size-3;
		font-weight: bold;
		text-align: center;
	}
	&__product-description {
		display: none;
	}
}
.payment-means {
	&__title {
		display: inline-block;
		margin-bottom: var(--space-between-items);
		font-size: $font-size-7;
		font-weight: 500;
		text-align: center;
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		max-height: 41px;
		padding: 5px 9px;
		background-color: $white;
		border: 1px solid $gray;
		border-radius: 16px;
		box-shadow: $shadow-2;
	}
	&__img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media screen and (min-width: map-get($breakpoints, md)) {
	.banner--home {
		.banner {
			&__content {
				padding: 135px var(--side-space) 120px var(--side-space);
			}
			&__title {
				width: 379px;
				margin-bottom: 22px;
				margin-left: 0;
				margin-right: 0;
			}
			&__text {
				width: 346px;
				padding: 0;
			}
		}
	}
	.product-preview__container,
	.payment-means__container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (min-width: map-get($breakpoints, lg)) {
	.section-wrapper {
		margin-top: var(--test);
		padding: 0 var(--side-space) var(--space-between-items) var(--side-space);
	}
	.product-preview__container,
	.payment-means__container {
		column-gap: var(--space-between-blocks);
		row-gap: var(--space-between-items);
	}
	.product-preview {
		padding-left: var(--side-space);
		padding-right: var(--side-space);
		&__product {
			row-gap: var(--space-between-items);
		}
	}
}
@media screen and (min-width: map-get($breakpoints, xxl)) {
	.banner--home {
		.banner {
			&__content {
				padding: 199px 89px 125px var(--side-space);
			}
		}
	}
	.section-wrapper {
		grid-template-columns: repeat(2, 1fr);
		align-items: end;
		justify-items: start;
		column-gap: var(--space-between-blocks);
		padding-right: 0;
	}
	.product-preview {
		&__link {
			margin-left: var(--space-between-items);
		}
		&__product {
			column-gap: var(--space-between-items);
			grid-auto-flow: column;
			padding: 20px 16px 16px 24px;
			border: none;
		}
		&__product-img {
			max-width: 110px;
			max-height: 108px;
		}
		&__product-text {
			align-self: flex-start;
			margin-top: 10px;
		}
		&__product-title {
			margin-bottom: 8px;
			text-align: left;
		}
		&__product-description {
			display: block;
			color: $black;
			font-size: $font-size-5;
		}
	}
	.payment-means {
		padding: 0;
	}
}