.banner--home {
	.banner {
		&__img-wrapper {
			height: 19.4375rem;
		}
		&__content {
			padding: 0.1875rem var(--side-space) 5.125rem var(--side-space);
		}
		&__title {
			margin-bottom: var(--space-between-items);
		}
	}
}
.section-wrapper {
	display: grid;
	row-gap: var(--space-between-items);
	padding: 0 var(--side-space) var(--bottom-space) var(--side-space);
	overflow-y: hidden;
}
.product-preview__container,
.payment-means__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	column-gap: var(--space-between-blocks);
	row-gap: var(--space-between-items);
}
.product-preview {
	padding: var(--space-between-blocks) var(--side-space) var(--space-between-blocks) var(--side-space);
	&__title-wrapper {
		display: flex;
		align-items: center;
		margin-bottom: var(--space-between-items);
	}
	&__title {
		@include header-title-2;
		color: $black;
	}
	&__link {
		@include body-text-highlighted;
		margin-left: auto;
		color: $acento;
		&:hover {
			color: $acento;
		}
	}
	&__product {
		display: grid;
		align-items: center;
    justify-items: center;
		justify-content: center;
		row-gap: var(--space-between-items);
    position: relative;
		padding: var(--space-between-items) 0;
		border: 0.0625rem solid $principal-dark;
		border-radius: 1rem;
		background-color: $white;
		box-shadow: $shadow-2;
		transition: box-shadow ease-in-out 0.15s;
    overflow: hidden;
		&:hover {
			box-shadow: $shadow-2-hover;
		}
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
    &--1::before {
      background-image: linear-gradient(0deg, #ffffff 39%, #ffffff00 100%), url('../assets/layout/pattern.png');
    }
    &--2::before {
      background-image: linear-gradient(180deg, #ffffff 39%, #ffffff00 100%), url('../assets/layout/pattern.png');
      transform: rotate(180deg) scaleX(-1);
    }
    &--3::before {
      background-image: linear-gradient(0deg, #ffffff 39%, #ffffff00 100%), url('../assets/layout/pattern.png');
      transform: scaleX(-1);
    }
    &--4::before {
      background-image: linear-gradient(180deg, #ffffff 39%, #ffffff00 100%), url('../assets/layout/pattern.png');
      transform: rotate(180deg);
    }
	}
  &__product-img,
  &__product-text {
    z-index: 1;
  }
	&__product-img {
		max-height: 5.5rem;
	}
	&__product-title {
		color: $acento;
		margin-bottom: 0;
		font-size: $fs-6;
		font-weight: bold;
		text-align: center;
	}
	&__product-description {
		display: none;
	}
}
.payment-means {
	&__title {
		display: inline-block;
		margin-bottom: var(--space-between-items);
		font-size: $fs-7;
		font-weight: 500;
		text-align: center;
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		max-height: 2.5625rem;
		padding: 0.3125rem 0.5625rem;
		background-color: $white;
		border: 0.0625rem solid $gray;
		border-radius: 1rem;
		box-shadow: $shadow-2;
	}
	&__img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media screen and (min-width: map-get($breakpoints, md)) {
	.banner--home {
		min-height: auto;
		.banner {
			&__content {
				padding: 8.4375rem var(--side-space) 7.5rem var(--side-space);
			}
			&__title {
				width: 23.6875rem;
				margin-bottom: 1.375rem;
				margin-left: 0;
				margin-right: 0;
			}
			&__text {
				width: 21.625rem;
				padding: 0;
			}
		}
	}
	.product-preview__container,
	.payment-means__container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (min-width: map-get($breakpoints, lg)) {
	.banner--home {
		min-height: auto;
	}
	.section-wrapper {
		margin-top: var(--test);
	}
	.product-preview__container,
	.payment-means__container {
		column-gap: var(--space-between-blocks);
		row-gap: var(--space-between-items);
	}
	.product-preview {
		padding-left: var(--side-space);
		padding-right: var(--side-space);
		&__product {
			row-gap: var(--space-between-items);
		}
		&__product-title {
			font-size: $fs-5;
		}
	}
}
@media screen and (min-width: map-get($breakpoints, xxl)) {
	.banner--home {
		.banner {
			&__content {
				padding: 12.4375rem 5.5625rem 7.8125rem var(--side-space);
			}
		}
	}
	.section-wrapper {
		grid-template-columns: repeat(2, 1fr);
		align-items: end;
		justify-items: start;
		column-gap: var(--space-between-blocks);
		padding-right: 0;
	}
	.product-preview {
		&__link {
			margin-left: 4rem;
		}
		&__product {
			column-gap: var(--space-between-items);
			grid-auto-flow: column;
			padding: 1.25rem 1rem 1rem 1.5rem;
			border: none;
		}
		&__product-img {
			max-width: 6.875rem;
			max-height: 6.75rem;
		}
		&__product-text {
			align-self: flex-start;
		}
		&__product-title {
			margin-bottom: 0.5rem;
			text-align: left;
		}
		&__product-description {
			display: block;
			color: $black;
			font-size: $fs-9;
		}
	}
	.payment-means {
		padding: 0;
	}
}