$principal: #4DDCC3;
$principal-dark: #318B7C;
$acento: #D49B16;
$white: #FFFFFF;
$light-gray: #F6F6F6;
$gray: #9A9A9A;
$black: #303030;

$shadow-1: 0px 1px 8px rgba(0, 0, 0, 0.25);
$shadow-2: 2px 4px 8px rgba(0, 0, 0, 0.25);
$product-preview-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 70.83%);

$font-family: 'Work Sans';
$letter-spacing: -0.02em;

$font-size-1: 40px;
$font-size-2: 34px;
$font-size-3: 20px;
$font-size-4: 16px;
$font-size-5: 13px;
$font-size-6: 11px;
$font-size-7: 18px;

// These media queries are used in the HTML files.
// If you wan to change them, use a searcher with the px, example '992px', to change all the coincidences
$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px
);

@import './general.scss';
@import './home.scss';