$principal: #4DDCC3;
$principal-dark: #318B7C;
$acento: #D49B16;
$white: #FFFFFF;
$light-gray: #F6F6F6;
$gray: #9A9A9A;
$black: #303030;

$font-family: 'Work Sans';
$letter-spacing: -0.02em;

$font-size-1: 40px;
$font-size-2: 34px;
$font-size-3: 20px;
$font-size-4: 16px;
$font-size-5: 13px;
$font-size-6: 11px;
$font-size-7: 18px;
$font-size-8: 32px;
$font-size-9: 24px;
$font-size-10: 17px;
$font-size-11: 15px;
$font-size-12: 9px;

$shadow-1: 0px 1px 8px hsla(0, 0%, 0%, 0.25);
$shadow-2: 2px 4px 8px hsla(0, 0%, 0%, 0.25);
$shadow-2-hover: 4px 8px 16px hsla(0, 0%, 0%, 0.25);
$shadow-2-hover-light: 4px 6px 16px hsla(0, 0%, 0%, 0.2);
$shadow-3: 2px -3px 8px hsla(0, 0%, 0%, 0.25);

$product-preview-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 70.83%);

// These breakpoints are used in the JS files.
// If you want to change them, use a searcher with the px, example '992px', to change all the coincidences
$breakpoints: ( // Same breakpoints used by Bootstrap
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px
);

:root {
	--side-space: 20px;
	--space-between-blocks: 24px;
	--space-between-items: 16px;
}
@media screen and (min-width: map-get($breakpoints, lg)) {
	:root {
		--side-space: 54px;
		--space-between-blocks: 40px;
		--space-between-items: 24px;
	}
}

@import './general.scss';
@import './inicio.scss';
@import './productos.scss';
@import './frases.scss';
@import './el-parche.scss';
@import './preguntas-frecuentes.scss';