$principal: #4ddcc3;
$principal-dark: #318b7c;
$acento: #d49b16;
$white: #ffffff;
$light-gray: #f6f6f6;
$gray: #9a9a9a;
$black: #303030;

$font-family: 'Work Sans';
$letter-spacing: -0.02em;

$fs-1: 4.5rem;
$fs-2: 2.5rem;
$fs-3: 2.125rem;
$fs-4: 2rem;
$fs-5: 1.5rem;
$fs-6: 1.25rem;
$fs-7: 1.125rem;
$fs-8: 1.0625rem;
$fs-9: 1rem;
$fs-10: 0.9375rem;
$fs-11: 0.8125rem;
$fs-12: 0.6875rem;
$fs-13: 0.5625rem;

$shadow-1: 0rem 0.0625rem 0.5rem hsla(0, 0%, 0%, 0.25);
$shadow-2: 0.125rem 0.25rem 0.5rem hsla(0, 0%, 0%, 0.25);
$shadow-2-hover: 0.25rem 0.5rem 1rem hsla(0, 0%, 0%, 0.25);
$shadow-2-hover-light: 0.25rem 0.375rem 1rem hsla(0, 0%, 0%, 0.2);
$shadow-3: 0.125rem -0.1875rem 0.5rem hsla(0, 0%, 0%, 0.25);
$shadow-4: 0.125rem -0.1875rem 0.5rem hsla(0, 0%, 0%, 0.5);

$product-preview-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 70.83%);

// These breakpoints are used in the JS files.
// If you want to change them, use a searcher with the px, example '62rem', to change all the coincidences
$breakpoints: (
  // Same breakpoints used by Bootstrap
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

:root {
  --side-space: 1.25rem;
  --space-between-blocks: 1.5rem;
  --space-between-items: 1rem;
  --bottom-space: 5.3125rem;
}
@media screen and (min-width: map-get($breakpoints, lg)) {
  :root {
    --side-space: 3.375rem;
    --space-between-blocks: 2.5rem;
    --space-between-items: 1.5rem;
    --bottom-space: 2.5rem;
  }
}
@mixin body-text {
	font-size: $fs-11;
	@media screen and (min-width: map-get($breakpoints, md)) {
		font-size: $fs-9;
	}
	@media screen and (min-width: map-get($breakpoints, lg)) {
		font-size: $fs-7;
	}
}
@mixin body-text-highlighted {
  @include body-text;
	font-weight: 600;
}
@mixin header-title-2 {
	font-size: $fs-7;
	font-weight: 500;
	@media screen and (min-width: map-get($breakpoints, lg)) {
		font-size: $fs-5;
	}
}


@import './general.scss';
@import './inicio.scss';
@import './productos.scss';
@import './frases.scss';
@import './el-parche.scss';
@import './preguntas-frecuentes.scss';
