.faq {
	padding: 2.5rem var(--side-space) 70px var(--side-space);
	&__title {
		color: $principal-dark;
		font-size: $font-size-3;
		font-weight: 700;
		margin-bottom: 1.5rem;
	}
	&__collapsable {
		border-radius: 16px;
		background-color: transparent;
		border: 0;
		margin-bottom: 2rem;
	}
	&__collapsable-header {
		padding: 0;
		border: 1px solid #318B7C;
		background: white;
		border-radius: 1rem !important;
	}
	&__collapsable-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 1rem;
		border: 0;
		background-color: transparent;
		&[aria-expanded="true"] {
			.faq__collapsable-arrow {
				transform: scaleY(-1);
			}
		}
	}
	&__collapsable-title {
		@include body-text-highlighted;
		color: $black;
		text-align: left;
	}
	&__collapsable-arrow {
		width: 14px;
		margin: 0 0.5rem;
		transition: transform ease-in-out 0.25s;
	}
	&__collapsable-body {
		display: grid;
		row-gap: 2rem;
		padding: 2rem 1rem 0 1rem;
	}
	&__collapsable-subtitle {
		@include body-text-highlighted;
		margin-bottom: 1rem;
	}
	&__collapsable-text {
		@include body-text;
	}
}

@media screen and (min-width: map-get($breakpoints, lg)) {
	.faq {
		padding: 4rem 142px 70px 240px;
		&__collapsable {
			margin-bottom: 1.5rem;
		}
		&__collapsable-btn {
			padding: 20px;
		}
	}
}
@media screen and (min-width: map-get($breakpoints, xxl)) {
	.faq {
		padding-left: 270px;
	}
}